@tailwind base;
@tailwind components;
@tailwind utilities;


*,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: #333; /* Dark thumb */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #444; /* Slightly lighter thumb color on hover */
    transform: scale(1.1);
}

::-webkit-scrollbar-thumb:active {
    background: #222; /* Darker thumb color on active state */
    transform: scale(0.98);
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-corner {
    background: #111;
}

